body {
  background-color: $white;
  letter-spacing: .02em;
}

.icon {
  width: .875rem;
  height: .875rem;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.bg-lilac {
  background-color: $lilac;
}

.icon-box-48 {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  max-width: 100%;
}

.divider-dots {
  height: 6px;
  width: 100%;
  background-image: radial-gradient(circle, #D8D8D8 3px, transparent 4px);
  background-size: 25px 10px;
  background-position: center;
}

.box-logo {
  height: 100px;

  @include media-breakpoint-up(lg) {
    height: 155px;
  }
}

.img-logo {
  max-height: 70px;

  @include media-breakpoint-up(lg) {
    max-height: 110px;
  }
}

.text-16 {
  font-size: 1rem;
}

.gap-2-5 {
  gap: .75rem;
}

.line-text {
  width: 1px;
  height: 2.0625rem;
  display: block;
  background-color: $gray;
}

.list-arrows {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.2474 12.8475C21.7162 12.3787 21.7162 11.6175 21.2474 11.1487L15.2474 5.14874C14.7787 4.67999 14.0174 4.67999 13.5487 5.14874C13.0799 5.61749 13.0799 6.37874 13.5487 6.84749L17.5012 10.8H3.5999C2.93615 10.8 2.3999 11.3362 2.3999 12C2.3999 12.6637 2.93615 13.2 3.5999 13.2H17.5012L13.5487 17.1525C13.0799 17.6212 13.0799 18.3825 13.5487 18.8512C14.0174 19.32 14.7787 19.32 15.2474 18.8512L21.2474 12.8512V12.8475Z' fill='%23381B58'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.dropdown-icon-anim {

  svg {
    transition: transform .3s ease; 
  }

  &.show {
    svg {
      transform: rotate(180deg);
    }
  }
}