// ==========================================
// Listing offers filters 
// ==========================================

// static bar on mobile 
.mobile-filter-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  padding: 1.5rem;
  box-shadow: 0 -3px 10px 0 #381B5840;
  z-index: 1040;
  display: flex;
  gap: 1rem;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .btn {
    width: 50%;
  }
}

.input-filter-search {
    max-width: 400px;
}

// ==========================================
// Filters Offcanvas (Acordeón / Móvil)
// ==========================================
#offcanvasFilters {

    @include media-breakpoint-up(lg) {
        --bs-offcanvas-width: 550px;
    }

  .offcanvas-body {

    @include media-breakpoint-down(md) {
      position: static;
    }
  }

  .offcanvas-footer {
    box-shadow: 0 -3px 10px 0 #381B5840;

    .btn {
        @include media-breakpoint-down(md) {
            font-size: .875rem;
            font-weight: 600;

            &.btn-primary {
                background-color: $primary;
                border-color: $primary;
            }
        }
    }
  }
}

// Accordion filters 
.filter-accordion {

  @include media-breakpoint-down(md) {
    position: static;

    .collapsing {
      transition: none;
    }
  }

  .accordion-item {
    border: 0;


    @include media-breakpoint-down(md) {
      position: static;
    }
  }

  .accordion-button {
    border: 1px solid $dark;
    box-shadow: none;
    background-color: transparent;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.375rem;

    &::after {
      display: none;
    }
    
    .less {
      display: none;
    }

    &[aria-expanded="true"]{

        .plus {
            display: none;
        }
        .less {
        display: inline;
      }
    }
  }

  // content full on mobile 
  .filter-mobile-takeover {

    &.show {

      @include media-breakpoint-down(md) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 1055;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        border: none;
      }
    }
  }

  .filter-mobile-footer {
    box-shadow: 0 -3px 10px 0 #381B5840;
  }

  .filter-body-content {

    @include media-breakpoint-down(md) {
      flex: 1;
      overflow-y: auto;
      padding: 1.5rem;
    }
    
    @include media-breakpoint-up(md) {
      padding: 0 0 1.5rem 0;
    }
  }
}

// ==========================================
// Inputs filters selection
// ==========================================
.filter-pills-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
  }

  .btn-pill {
    padding: .35rem 0.75rem;
    border: 1px solid $dark;
    border-radius: 4px;
    color: $dark;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        border-color: $primary;
    }
  }

  .btn-check:checked + .btn-pill {
    background-color: $primary;
    color: $white;
    border-color: $primary;
  }
}