.footer {
  background-color: $primary;
  color: $white;

  .footer-text {
    font-size: .875rem;

    a {
      text-decoration: none;
    }
  }

  .footer-title {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: $white;

    @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
    }

  }

  .footer-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      margin-bottom: .75rem;
    }

    a {
      color: $white;
      text-decoration: none;
      transition: color .3s ease;
      font-size: .875rem;

      @include media-breakpoint-up(lg) {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .navbar-brand {

    img {
        max-width: 100px;

        @include media-breakpoint-up(lg) {
            max-width: none;
        }
    }
  }
}