h1,
.h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark;
    line-height: 1.2;
}

.main-title {
    font-weight: 700;
    color: $dark;

    &::before {
        content: "/ ";
        color: $secondary;
        margin-right: .2rem;
    }
}
.title-decoration {
    &::before {
        content: "/ ";
        color: $secondary;
        margin-right: .2rem;
    }
}

h2,
.h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: $dark;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: $dark;
  line-height: 1.4;
}

h4,
.h4 {
  font-size: 1rem;
  font-weight: 600;
  color: $dark;
  line-height: 1.4;
}

h5,
.h5 {
  font-size: .875rem;
  font-weight: 500;
  color: $dark;
  line-height: 1.4;
}
